@import 'tailwindcss';

@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));

/* ========== tailwind custom styles ========== */
.container {
	max-width: 1112px;
	margin-left: auto;
	margin-right: auto;
	padding-left: 1rem;
	padding-right: 1rem;
}

/* gradient heading */
.main-heading {
	background: linear-gradient(89.81deg, #9845e8 -1.72%, #33d2ff 54.05%, #dd5789 99.78%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	background-clip: text;
	text-fill-color: transparent;
	background-size: 150% 150%;
	animation: gradient 15s ease infinite;
}

.rainbow-text {
	background: linear-gradient(90deg, #ff0080, #ff8c00, #ffff00, #00ff80, #0080ff, #8000ff, #ff0080);
	background-size: 200% 100%;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	background-clip: text;
	animation: rainbow 3s linear infinite;
}

@keyframes rainbow {
	0% {
		background-position: 0% 50%;
	}
	100% {
		background-position: 200% 50%;
	}
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: 'Outfit', sans-serif;
}

.footer-icons {
	display: flex;
	align-items: center;
	border: 1px solid #4a4a4a; /* dark */
	padding: 1rem;
	border-radius: 0.5rem;
	justify-content: center;
}

.blog-post h2 {
	margin-top: 24px;
	margin-bottom: 8px;
	font-size: 1.6rem !important;
	font-weight: 600 !important;
}

.blog-post h3 {
	margin-top: 16px;
	margin-bottom: 8px;
	font-size: 1.25rem !important;
	font-weight: 600 !important;
}

.blog-post a {
	color: #005f78 !important;
	transition: opacity 0.2s !important;
	text-decoration: underline !important;
}

.blog-post a:hover {
	opacity: 0.8 !important;
}

.blog-post p {
	margin-top: 8px !important;
	margin-bottom: 8px !important;
}

.blog-post ul,
.blog-post ol {
	margin-top: 8px !important;
	margin-bottom: 8px !important;
	margin-left: 16px !important;
}

.blog-post li {
	list-style-type: disc !important;
}
.blog-post ol.list-decimal > li {
	list-style-type: decimal !important;
}

.blog-post code {
	background-color: #1a202c !important;
	padding: 4px 8px;
	border-radius: 4px !important;
}

.blog-post code.example {
	display: block;
	padding: 0.75rem 1rem !important;
	border-radius: 8px !important;
	width: 100% !important;
	white-space: pre-wrap;
	word-break: break-word;
	font-family: monospace;
}

.blog-post table {
	width: 100% !important;
}

.blog-post td {
	padding: 8px !important;
	border: 1px solid #e2e8f0 !important;
}
.blog-post blockquote {
	font-style: italic !important;
	opacity: 0.8 !important;
	text-align: center !important;
}

.blog-post img :not([class^='max-w-']) {
	max-width: 100%;
}

@media screen and (max-width: 768px) {
	.blog-post img {
		max-width: 100%;
	}
}

.blog-post img {
	margin-top: 16px !important;
	margin-left: auto !important;
	margin-right: auto !important;
	border-radius: 4px;
}

[data-theme='dark'] .blog-post a {
	color: #00d4f4 !important;
}

[data-theme='light'] .blog-post code {
	color: #ffffff !important;
}

[data-theme='dark'] .background-glow {
	background: radial-gradient(circle, rgb(27 27 27) 0%, rgb(17 17 17) 30%, rgb(17 17 17) 100%);
	background-size: cover;
}
